body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Andale Mono, monospace;
}
#canvas{
    border: gray solid 1px;
    width: 513px;
    height: 513px;
}

#info-player{
    border: gray solid 1px;
    width: 300px;
    height: 513px;
    text-align: center;

    
}





